* {
  margin: 0;
  padding: 0;
}
#bgImage {
  width: 100vw;
  height: 100%;
  opacity: 0.7;
}
#cartTableDiv {
  padding-top: 8%;
}
#table {
  position: relative;
  border: solid 4px var(--white);
  border-radius: 5px;
  margin-left: 10%;
  width: 80%;
  height: 70vh;
  box-shadow: 6px 6px 6px 6px var(--black);
}
#tableTitle {
  position: relative;
}
td {
  width: 25%;
  height: 30%;
}
article {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}
img {
  position: absolute;
  width: 50%;
  height: 100%;
}
p {
  margin-left: 210px;
  width: 50%;
}
h2 {
  display: flex;
  justify-content: center;
}
#icon {
  width: 50px;
  height: 30px;
}

#removeBtn {
  margin-left: 44%;
}
#totalSum {
  margin-top: 1%;
  margin-left: 62%;
  font-size: 30px;
  width: 28%;
}
@media only screen and (max-width: 425px) {
  * {
    position: relative;
  }
  #bgImage {
    margin-top: 0;
    opacity: 0.7;
  }
  #cartTableDiv {
    position: relative;
    width: 100%;
    /* margin-top: 5%; */
  }
  #table {
    width: 90%;
    margin-left: 4%;
  }
  th {
    width: 25%;
  }
  tr {
    width: 100%;
  }
  td {
    width: 10%;
  }
  #icon {
    width: 20px;
    height: 20px;
  }
  p {
    margin-left: 0;
  }
  #totalSum {
    margin-top: 3%;
  }
  #removeBtn {
    margin-left: 20%;
  }
}
@media only screen and (max-width: 767px) {
  * {
    position: relative;
  }
  #cartTableDiv {
    position: relative;
    width: 100%;
  }
  #table {
    width: 90%;
    margin-left: 4%;
  }
  th {
    width: 25%;
  }
  tr {
    width: 100%;
  }
  td {
    width: 10%;
  }
  #icon {
    width: 20px;
    height: 20px;
  }
  p {
    margin-left: 0;
  }
  #totalSum {
    margin-top: 3%;
  }
  #removeBtn {
    margin-left: 20%;
  }
}
