li {
  list-style: none;
}
#cartIcon {
  width: 30px;
  height: 25px;
}
#saveForLater {
  width: 30px;
  height: 30px;
}
#counter {
  display: inline-block;
  position: absolute;
  margin-top: -1%;
  margin-left: 2%;
}
#saveItem {
  display: inline-block;
  position: absolute;
  margin-top: -1%;
  margin-left: 2%;
}
#bedRCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  grid-row-gap: 1%;
  margin-left: 3%;
}
#livingCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  grid-row-gap: 1%;
  margin-left: 3%;
}
#kitchCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  grid-row-gap: 1%;
  margin-left: 3%;
}
#bathCont {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 95%;
  grid-row-gap: 1%;
  margin-left: 3%;
}
section {
  position: relative;
  width: 95%;
}
img {
  width: 100%;
  height: 240px;
}
article {
  position: relative;
  margin-bottom: 1rem;
  padding: 2%;
}
p {
  padding: 1%;
}
#addBtn {
  border-radius: 5px;
  background-color: var(--black);
  color: var(--white);
  padding: 2%;
  font-size: medium;
}
#likeBtn {
  position: absolute;
  border-radius: 50%;
  width: 40px;
  margin-left: 30%;
  margin-top: -2%;
}
#likeBtn img {
  width: 30px;
  height: 30px;
  padding-top: 4px;
}
section:hover {
  box-shadow: 4px 4px 4px var(--gray);
}
.fas {
  margin-left: 3%;
  margin-top: 3%;
  font-size: 45px;
  color: var(--black);
}
footer {
  margin-top: 8%;
}
@media only screen and (max-width: 770px) {
  #bedRCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
  }
  #livingCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
  }
  #kitchCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
  }
  #bathCont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 98%;
  }
  section {
    width: 45%;
    height: 70%;
    padding: 2%;
  }
  #likeBtn {
    border-radius: 50%;
    width: 40px;
    margin-left: 38%;
  }
  #cartIcon {
    width: 20px;
    height: 20px;
  }
  #counter {
    margin-left: 2%;
  }
  #saveItem {
    margin-left: 3%;
  }
}

@media only screen and (max-width: 425px) {
  section {
    width: 44%;
    height: 70%;
    padding: 2%;
  }
  article {
    position: relative;
    height: 60%;
    padding: 5%;
  }
  img {
    height: 40%;
  }
  #cartIcon {
    width: 20px;
    height: 20px;
  }
  #likeBtn {
    position: absolute;
    margin-left: 75%;
    width: 30px;
  }
  #likeBtn img {
    width: 20px;
    height: 20px;
  }
  #addBtn {
    position: absolute;
  }
  #counter {
    padding-left: 20px;
    margin: 0;
  }
  #saveItem {
    padding-left: 30px;
    margin: 0;
  }
  section:hover {
    box-shadow: 2px 2px 2px var(--gray);
  }
}
@media only screen and (max-width: 333px) {
  #bedRCont {
    display: flex;
    flex-direction: column;
    width: 98%;
  }
  section {
    width: 90%;
    height: 70%;
    padding: 4%;
  }
  article {
    position: relative;
    height: 60%;
    margin-top: 0;
    padding: 3%;
  }
  img {
    height: 30%;
  }
}
